<!-- ======= output ======= -->
<div id="output">

	<!-- ======= recipe title ======= -->
	<div class="recipeBox1">
		<h2 id="outputTitle">Sign Up</h2>
	</div>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

	    <div class="field">
	        <div class="inputLabel">firstname</div>
	        <div class="inputText"><%= f.text_field :firstname, class: "signinEntry", autofocus: true %></div>
	    </div>
	    <div class="field">
	        <div class="inputLabel">lastname</div>
	        <div class="inputText"><%= f.text_field :lastname, class: "signinEntry", autofocus: true %></div>
	    </div>
	    <div class="field">
	        <div class="inputLabel">username</div>
	        <div class="inputText"><%= f.text_field :username, class: "signinEntry", autofocus: true %></div>
	    </div>
	    <div class="field">
	        <div class="inputLabel">email</div>
	        <div class="inputText"><%= f.email_field :email, class: "signinEntry", autofocus: true %></div>
	    </div>
	    <div class="field">
	        <div class="inputLabel">password</div>
	        <div class="inputText">
	            <span>
	                <%= f.password_field :password, class: "signinEntry", autocomplete: "off" %>
	                <i>6 characters minimum</i>
	            </span>
	        </div>
	    </div>
	    <div class="field">
	        <div class="inputLabel">password confirm</div>
	        <div class="inputText"><%= f.password_field :password_confirmation, class: "signinEntry", autocomplete: "off" %></div>
	    </div>
	    <div class="field">
	        <div class="inputLabel">&nbsp;</div>
	        <div class="inputText"><%= f.submit "Sign Up", id: "signup", class: "formBtn formBtn_green" %></div>
	    </div>

	    <div id="newUserSpacer" class="dataSpacer">
	        &nbsp;
	    </div>

	    <div class="buttonRow">
	        <%= link_to "Back", request.referer.present? ? request.referer : "/home", class: "formLink" %>
	    </div>

	<% end %>

	</div>
</div>

<%= render "devise/shared/links" %>
