
<%# ======= category and nationality options ======= %>
<% category_ids = [] %>
<% @categories.each_with_index do |category, index| %>
    <% category_ids << [category.category, category[:id]] %>
<% end %>

<% nationality_ids = [] %>
<% @nationalities.each_with_index do |nationality, index| %>
    <% nationality_ids << [nationality.nationality, nationality[:id]] %>
<% end %>


<%# ======= selected category / nationality ======= %>
<% puts "@recipe.category_id: #{@recipe.category_id}" %>
<% if @recipe.category_id == nil %>
	<% puts "no category" %>
	<% category_ids.push(["no category", nil]) %>
	<% category = ["no category", nil] %>
	<% @recipe.category_id = 0 %>
<% else %>
	<% category = @recipe.category_id %>
<% end %>
<% puts "category_ids: #{category_ids}" %>

<% puts "@recipe.nationality_id: #{@recipe.nationality_id}" %>
<% if @recipe.nationality_id == nil %>
	<% nationality_ids.push(["no nationality", nil]) %>
	<% nationality = ["no nationality", nil] %>
	<% @recipe.nationality_id = 0 %>
<% else %>
	<% nationality = @recipe.nationality_id %>
<% end %>
<% puts "nationality_ids: #{nationality_ids}" %>


<%# ======= sort ingredients/instructions by sequence ======= %>
<% ingredients_sorted = @recipe.ingredients.sort_by { |ingredient| ingredient["sequence"] } %>
<% puts "ingredients_sorted: #{ingredients_sorted}" %>
<% instructions_sorted = @recipe.instructions.sort_by { |instruction| instruction["sequence"] } %>
<% puts "instructions_sorted: #{instructions_sorted}" %>


<%# ======= recipe data => javascript ======= %>
<%= content_tag :div, id: "recipeId", data: {recipeid: @recipe.id} do %>
<% end %>
<%= content_tag :div, id: "titleData", data: {title: @recipe.title} do %>
<% end %>
<%= content_tag :div, id: "ratingData", data: {rating: @recipe.rating} do %>
<% end %>
<%= content_tag :div, id: "categoryData", data: {categoryid: @recipe.category_id} do %>
<% end %>
<%= content_tag :div, id: "nationalityData", data: {nationalityid: @recipe.nationality_id} do %>
<% end %>
<%= content_tag :div, id: "ingredientsData", data: {ingredients: ingredients_sorted} do %>
<% end %>
<%= content_tag :div, id: "instructionsData", data: {instructions: instructions_sorted} do %>
<% end %>


<h2 id="outputTitle"><%= @recipe.title %></h2>
<div id="editSaveBox">
	<%= select_tag "category_edit_select", options_for_select(category_ids, category), class: "editSelect", remote: true %>
	<%= select_tag "nationality_edit_select", options_for_select(nationality_ids, nationality), class: "editSelect", remote: true %>
	<%= link_to "Save Changes", save_recipe_edits_path, id: "saveRecipe", class: "addEditDelete", remote: true %>
</div>


<div id="output">

	<p class='recipeLabel'>ingredients</p>
	<% ingredients_sorted.each_with_index do |next_ingredient, index| %>
		<div class="recipeLine">
			<input type="text" id="ingrSeq_<%= next_ingredient.id %>" class="sequence" name="seq" value="<%= next_ingredient.sequence %>">
			<p class="ingredient" id="ingredient_<%= next_ingredient.id %>"><%= next_ingredient.ingredient %></p>
		</div>
	<% end %>

	<p class='recipeLabel'>instructions</p>
	<% instructions_sorted.each_with_index do |next_instruction, index| %>
		<div class="recipeLine">
			<input type="text" id="instSeq_<%= next_instruction.id %>" class="sequence" name="seq" value="<%= next_instruction.sequence %>">
			<p class="instruction" id="instruction_<%= next_instruction.id %>"><%= next_instruction.instruction %></p>
		</div>
	<% end %>

</div>
