
<%# ======= sort ingredients/instructions by sequence ======= %>
<% ingredients_sorted = @recipe.ingredients.sort_by { |ingredient| ingredient["sequence"] } %>
<% puts "ingredients_sorted: #{ingredients_sorted}" %>
<% instructions_sorted = @recipe.instructions.sort_by { |instruction| instruction["sequence"] } %>
<% puts "instructions_sorted: #{instructions_sorted}" %>


<%# ======= recipe data => javascript ======= %>
<%= content_tag :div, id: "prevValues", data: {ratingid: @recipe.rating_id, categoryid: @recipe.category_id, nationalityid: @recipe.nationality_id } do %>
<% end %>


<%# ======= recipe data => javascript ======= %>
<%= content_tag :div, id: "recipeId", data: {recipeid: @recipe.id} do %>
<% end %>
<%= content_tag :div, id: "titleData", data: {title: @recipe.title} do %>
<% end %>
<%= content_tag :div, id: "sharedData", data: {shared: @recipe.shared} do %>
<% end %>
<%= content_tag :div, id: "ratingData", data: {ratingid: @recipe.rating_id} do %>
<% end %>
<%= content_tag :div, id: "categoryData", data: {categoryid: @recipe.category_id} do %>
<% end %>
<%= content_tag :div, id: "nationalityData", data: {nationalityid: @recipe.nationality_id} do %>
<% end %>

<%# @rating_id 						# rating id from ratings table %>
<%# @rating_text					# rating text ("comment" column) from ratings table %>
<%# @user_rating_id					# id from user_ratings join table (links user/recipe/rating) %>

<%= content_tag :div, id: "ratingIdData", data: {ratingid: @rating_id} do %>
<% end %>
<%= content_tag :div, id: "ratingTextData", data: {ratingtext: @rating_text} do %>
<% end %>
<%= content_tag :div, id: "userRatingData", data: {userratingid: @user_rating_id} do %>
<% end %>

<%= content_tag :div, id: "ingredientsData", data: {ingredients: ingredients_sorted} do %>
<% end %>
<%= content_tag :div, id: "modifiedIngrData", data: {ingredients: []} do %>
<% end %>
<%= content_tag :div, id: "instructionsData", data: {instructions: instructions_sorted} do %>
<% end %>
<%= content_tag :div, id: "modifiedInstData", data: {instructions: []} do %>
<% end %>


<!-- ======= output ======= -->
<div id="output">

	<!-- ======= recipe title ======= -->
	<div class="recipeBox1">
		<h2 id="outputTitle"><%= @recipe.title %></h2>

		<% puts "@rating_ids: #{@rating_ids}" %>
		<% puts "@rating_id: #{@rating_id}" %>

		<%= select_tag "rating_edit_select", options_for_select(@rating_ids, @rating_id), class: "editSelect editOption", remote: true %>
		<%= select_tag "category_edit_select", options_for_select(@category_ids, @category_id), class: "editSelect editOption", remote: true %>
		<%= select_tag "nationality_edit_select", options_for_select(@nationality_ids, @nationality_id), class: "editSelect editOption", remote: true %>
		<% puts "@recipe.shared: #{@recipe.shared}" %>
		<% if @recipe.user_id === current_user[:id] %>
			<p class="label editOption">shared</p>
			<% if @recipe.shared === true %>
				<input type="checkbox" id="shared" name="shared" class="recipeShare editOption" value="<%= @recipe.shared %>" checked>
			<% else %>
				<input type="checkbox" id="shared" name="shared" class="recipeShare editOption" value="<%= @recipe.shared %>">
			<% end %>
		<% else %>
			<p class="label editOption">&nbsp;</p>
		<% end %>
		<%= link_to "Delete", "delete_recipe/" + @recipe[:id].to_s, id: "deleteRecipe", class: "active editOption", remote: true %>
	</div>

	<!-- ======= recipe edits [hidden] ======= -->
	<div id="recipeBox2">
		<div class="halfBox">
			<%= link_to "Save", save_recipe_edits_path, id: "saveRecipeEdits", class: "addEditDelete", remote: true %>
		</div>
		<div class="halfBox">
			<%= link_to "Cancel", "", id: "cancelRecipeEdits", class: "addEditDelete", remote: true %>
		</div>
	</div>

	<!-- ======= headers ======= -->
	<div class="recipeBox3">
		<div class="halfBox">
			<p class="recipeHeader">ingredients</p>
			<div id="ingrAdd" class='addBtn'> add ingredient</div>
		</div>
		<div class="halfBox">
			<p class="recipeHeader">instructions</p>
			<div id="instAdd" class='addBtn'> add instruction</div>
		</div>
	</div>

	<!-- ======= ingredients/instructions ======= -->
	<div id="recipeContent">
		<div id="ingredients" class="list-group">
			<% ingredients_sorted.each_with_index do |next_ingredient, index| %>
				<div class="recipeLine" id="ingrLine_<%= next_ingredient.id %>">
					<div id="ingrSeq_<%= next_ingredient.id %>" class="ingrSequence"> <%= next_ingredient.sequence %> </div>
					<p class="ingredient" id="ingredient_<%= next_ingredient.id %>"><%= next_ingredient.ingredient %></p>
				</div>
			<% end %>
		</div>
		<div id="instructions" class="list-group">
			<% instructions_sorted.each_with_index do |next_instruction, index| %>
				<div class="recipeLine" id="instLine_<%= next_instruction.id %>">
					<div id="instSeq_<%= next_instruction.id %>" class="instSequence"> <%= next_instruction.sequence %> </div>
					<p class="instruction" id="instruction_<%= next_instruction.id %>"> <%= next_instruction.instruction %> </p>
				</div>
			<% end %>
		</div>
	</div>
</div>
