<div id="recipeBox1" class="fullBox">
	<h2 id="outputTitle">Ratings</h2>
</div>

<div id="output">

	<table class="AEDtable">
		<thead>
			<tr class="btnRow">
				<th class="dataColumn">rating</th>
				<th class="btnColumn">edit</th>
				<th class="btnColumn">delete</th>
			</tr>
		</thead>

		<tbody>
			<% @rating_texts.each do |rating| %>
				<tr class="dataRow">
					<td class="dataColumn"><%= rating[0] %></td>
					<td class="btnColumn"><%= link_to 'edit', "edit_rating_" + rating[1].to_s, remote: true %></td>
					<td class="btnColumn"><%= link_to 'delete', "delete_rating_" + rating[1].to_s, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
				</tr>
			<% end %>
			<tr class="btnRow">
				<td class="dataColumn"><%= link_to 'New Rating', new_rating_path, id: "newRatingBtn", remote: false  %></td>
				<td class="btnColumn"><%= link_to "Back", request.referer.present? ? request.referer : "/home" %></td>
				<td class="btnColumn">&nbsp;</td>
			</tr>
		</tbody>
	</table>

</div>
