<h2 id="formTitle">Categories</h2>

<div class="userInput">

	<%= form_with(model: @category, local: true) do |form| %>

		<!-- ======= errors ======= -->
		<% if @category.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
				<ul>
					<% @category.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<div class="inputLabel">new category</div>
			<div class="inputText">
				<%= form.text_field :category, autofocus: true, autocomplete: "category" %>
			</div>
		</div>

		<div class="field">
			<div class="inputLabel">&nbsp;</div>
			<div class="inputText">
				<%= form.submit %>
			</div>
		</div>

		<div class="field">
			<div class="inputLabel">&nbsp;</div>
			<div class="inputText">
				<%= link_to "Back", categories_path, id: "backBtn", class: "formButton" %>
			</div>
		</div>

	<% end %>

</div>
