<div id="recipeBox1" class="fullBox">
	<h2 id="outputTitle">Nationalities</h2>
</div>

<div id="output">

	<table class="AEDtable">
		<thead>
			<tr class="headerRow">
				<th class="dataColumn">nationality</th>
				<th class="btnColumn">edit</th>
				<th class="btnColumn">delete</th>
			</tr>
		</thead>

		<tbody>
			<% @nationalities.each do |nationality| %>
				<% id_item_html = "classify_" + nationality[:id].to_s %>
				<% id_btn_html = "editClassifyBtn_" + nationality[:id].to_s %>
				<tr class="dataRow">
					<td id="<%= id_item_html %>" class="dataColumn"><%= nationality[:nationality] %></td>
					<td class="btnColumn"><%= link_to 'edit', "", id: id_btn_html, class: "editClassifyBtn", remote: true  %></td>
					<td class="btnColumn"><%= link_to 'delete', nationality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
			<tr class="btnRow">
				<td class="dataColumn"><%= link_to 'New Nationality', "", id: "newClassifyBtn", remote: false  %></td>
				<td class="btnColumn"><%= link_to "Back", request.referer.present? ? request.referer : "/home" %></td>
				<td class="btnColumn">&nbsp;</td>
			</tr>
		</tbody>
	</table>

</div>
