<div id="recipeBox1" class="fullBox">
	<h2 id="outputTitle">Nationalities</h2>
</div>

<div id="output">

	<table class="AEDtable">
		<thead>
			<tr class="btnRow">
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @nationalities.each do |nationality| %>
				<tr>
					<td class="dataColumn"><%= nationality[:nationality] %></td>
					<td class="btnColumn"><%= link_to 'edit', edit_nationality_path(nationality) %></td>
					<td class="btnColumn"><%= link_to 'delete', nationality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
			<tr class="btnRow">
				<td class="dataColumn"><%= link_to 'New Nationality', new_nationality_path, id: "newNationalityBtn", remote: false  %></td>
				<td class="btnColumn"><%= link_to "Back", request.referer.present? ? request.referer : "/home", class: "formLink" %></td>
				<td class="btnColumn">&nbsp;</td>
			</tr>
		</tbody>
	</table>

</div>
