<!DOCTYPE html>
<html>
<head>
	<title>Recipes 2</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<%# ======= rating/category/nationality options ======= %>
	<% search_options = ["title", "ingredients"] %>

	<% rating_ids = [["rating", nil]] %>
	<% @ratings.each do |rating| %>
		<% rating_text = rating.rating.to_s + ":  " + rating.comment %>
	    <% rating_ids << [rating_text, rating[:id]] %>
	<% end %>

	<% category_ids = [["category", nil]] %>
	<% @categories.each do |category| %>
	    <% category_ids << [category.category, category[:id]] %>
	<% end %>

	<% nationality_ids = [["nationality", nil]] %>
	<% @nationalities.each_with_index do |nationality, index| %>
	    <% nationality_ids << [nationality.nationality, nationality[:id]] %>
	<% end %>

    <div id="wrapper">

		<!-- ======= menu 1 ======= -->
        <div class="menuBox1">
			<%= link_to "Back", "/back", id: "backBtn", remote: false  %>
			<%= link_to "Home", "/home", id: "homeBtn" %>
			<div id="banner">
				My Recipes
			</div>

			<% if !current_user %>
                <%= link_to "Sign up", new_user_registration_path, class: "userBtn" %>
                <%= link_to "Sign in", new_user_session_path, class: "userBtn" %>
            <% else %>
				<div id="userMenu" class="dropdown userSelect">
					<button class="dropdown-menu">My Account</button>
					<div class="dropdown-content">
						<%= link_to "Import Recipes", import_recipes_path, id: "import", class: "navLink userMenuItem" %>
						<%= link_to "Export Selected", "", id: "exportLink", class: "navLink userMenuItem" %>
						<%= link_to "Type/Enter Recipe", type_recipe_path, id: "type_recipe", class: "navLink userMenuItem" %>
						<%= link_to "Edit Ratings", ratings_path, id: "ratings", class: "navLink userMenuItem" %>
						<%= link_to "Edit Categories", categories_path, id: "categories", class: "navLink userMenuItem" %>
						<%= link_to "Edit Nationalities", nationalities_path, id: "nationalities", class: "navLink userMenuItem" %>
						<%= link_to "Profile", profile_path, id: "profile", class: "navLink userMenuItem" %>
						<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
					</div>
				</div>
			<% end %>
		</div>

		<!-- ======= menu 2 ======= -->
		<div class="menuBox2">
			<div id="searchOwner" class="menuGroup">
				<%= link_to "My Recipes", "", id: "recipes_my", class: "searchBtn userMenuItem", remote: true %>
				<%= link_to "All Recipes", "", id: "recipes_all", class: "searchBtn userMenuItem", remote: true %>
			</div>

			<div id="searchText" class="menuGroup">
				<input id="searchInput" type="text" name="search" placeholder="search text">
				<div id="searchInBtn" class="dropdown searchSelect">
					<button class="dropdown-menu">Search in</button>
					<div class="dropdown-content">
						<a id="text_title" href="#">title</a>
						<a id="text_ingredients" href="#">ingredients</a>
					</div>
				</div>
			</div>

			<div id="searchClassify" class="menuGroup">
				<p class="searchLabel">search by...</p>
				<div id="searchRating" class="dropdown searchSelect">
					<button class="dropdown-menu">Rating</button>
					<div class="dropdown-content">
						<% rating_ids = [["rating", nil]] %>
						<% @ratings.each do |rating| %>
							<% rating_text = rating.rating.to_s + " " + rating.comment %>
							<%= link_to rating_text, rating.rating.to_s, id: "rating_" + rating.rating.to_s, remote: true %>
						<% end %>
					</div>
				</div>
				<div id="searchCategory" class="dropdown searchSelect">
					<button class="dropdown-menu">Category</button>
					<div class="dropdown-content">
						<% @categories.each do |category| %>
							<%= link_to category.category, "", id: "category_" + category[:id].to_s, remote: true %>
						<% end %>
					</div>
				</div>
				<div id="searchNationality" class="dropdown searchSelect">
					<button class="dropdown-menu">Nationality</button>
					<div class="dropdown-content">
						<% @nationalities.each_with_index do |nationality, index| %>
							<%= link_to nationality.nationality, "", id: "nationality_" + nationality[:id].to_s, remote: true %>
						<% end %>
					</div>
				</div>
			</div>
			<div id="menuBox2spacer">

			</div>
		</div>

		<!-- ======= menu 3 ======= -->
		<div id="feedback" class="menuBox3">
			<p id="notice">
				<% if flash[:notice] %>
					<%= flash[:notice] %>
				<% end %>
			</p>
			<p id="message">
				<% if current_user %>
					<%= current_user.username + "'s Recipes" %>
				<% end %>
			</p>
		</div>

		<!-- ======= popup ======= -->
		<div class="popup-overlay">
			<div class="popup-content">
			    <h3>caution</h3>
				<div id="popup-message"></div>
				<div class="popup-buttonLine">
					<button id="popupCancel" class="close">Okay</button>
				</div>
				<div class="popup-buttonLine">
					<input type="checkbox" id="showAgain" name="showAgain" class="recipeShare" value="false">
					<p class="popup-label">Don't show this again</p>
				</div>
			</div>
		</div>

		<!-- ======= yield ======= -->
        <div id="yieldBox">
            <%= yield %>
        </div>

    </div>

</body>
</html>
