<!DOCTYPE html>
<html>
<head>
	<title>Recipes 2</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<%# ======= rating/category/nationality options ======= %>
	<% rating_ids = [["rating", nil]] %>
	<% @ratings.each do |rating| %>
		<% rating_text = rating.rating.to_s + ":  " + rating.comment %>
	    <% rating_ids << [rating_text, rating[:id]] %>
	<% end %>

	<% category_ids = [["category", nil]] %>
	<% @categories.each do |category| %>
	    <% category_ids << [category.category, category[:id]] %>
	<% end %>

	<% nationality_ids = [["nationality", nil]] %>
	<% @nationalities.each_with_index do |nationality, index| %>
	    <% nationality_ids << [nationality.nationality, nationality[:id]] %>
	<% end %>

    <div id="wrapper">

		<!-- ======= header ======= -->
        <div id="header">
			<div id="mainTitle">
	            <h1>Recipes 2</h1>
	        </div>
        </div>

		<!-- ======= menu ======= -->
        <div id="menuBox1">
			<%= link_to "Home", "/home", class: "userBtn" %>
            <% if !current_user %>
                <%= link_to "Sign up", new_user_registration_path, class: "userBtn" %>
                <%= link_to "Sign in", new_user_session_path, class: "userBtn" %>
            <% else %>
				<% path = request.path %>
				<%= link_to "Sign out", destroy_user_session_path, class: "userBtn", :method => :delete %>
				<div id="menuSpacer1">
					<span>&nbsp;&nbsp; | &nbsp;&nbsp;</span>
				</div>
				<%= link_to "Import Recipes", import_recipes_path, id: "import", class: "importBtn checkEdit" %>
				<%= link_to "Get All Recipes", all_recipes_path, id: "getAllRecipes", class: "importBtn checkEdit", remote: true %>
				<div id="menuSpacer1">
					<span>&nbsp;&nbsp; | &nbsp;&nbsp;</span>
				</div>
				<%= link_to "Ratings", ratings_path, id: "ratings", class: "mgmtBtn checkEdit" %>
				<%= link_to "Categories", categories_path, id: "categories", class: "mgmtBtn checkEdit" %>
				<%= link_to "Nationalities", nationalities_path, id: "nationalities", class: "mgmtBtn checkEdit" %>
            <% end %>
        </div>

		<div id="menuBox2">
			<div id="menuSpacer2">search</div>
			<input id="search" type="text" name="search">
			<%= link_to "in recipe title", search_title_path, id: "searchTitles", remote: false %>
			<%= link_to "in ingredients", search_ingredient_path, id: "searchIngredients", remote: false %>
			<%= select_tag "rating_select", options_for_select(rating_ids), class: "menuSelect neutral", remote: true %>
			<%= select_tag "category_select", options_for_select(category_ids), class: "menuSelect neutral", remote: true %>
			<%= select_tag "nationality_select", options_for_select(nationality_ids), class: "menuSelect neutral", remote: true %>
		</div>

		<div id="menuBox3">
			<div id="feedback">
				<% if current_user %>
					<p id="menuSpacer3">welcome </p>
					<p id="message"><%= current_user.username %></p>
				<% end %>
				<p id="notice"></p>
			</div>
		</div>

		<!-- ======= popup ======= -->
		<div class="popup-overlay">
			<div class="popup-content">
			    <h3>caution</h3>
			    <p>You haven't saved your edits yet.</p>
				<p>Click <span>Save</span> or <span>Cancel</span> before choosing another function.</p>
				<button id="popupCancel" class="close">Okay</button>
			</div>
		</div>

		<!-- ======= yield ======= -->
        <div id="yieldBox">
            <%= yield %>
        </div>

    </div>

</body>
</html>
